<nav class="navbar navbar-expand-lg" style="background: rgb(71, 6, 175); border-radius: 1rem 1rem 0 0;">
  <a style="color: white; margin-left: 10px;" class="navbar-brand p-2" href="/"><b>GAME NEWS</b> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      <li class="nav-item active">
        <a style="color: white;" class="nav-link active" aria-current="page" href="/"><b>Home</b><span class="sr-only"></span></a>
      </li>
     
      <li class="nav-item">
        <a style="color: white;" class="nav-link active" href="/categorias"><b>Categorias</b></a>
      </li>

      {{#if user}}
        
      <li class="nav-item">
        <a style="color: white;" class="nav-link active" href="/admin"><b>Adm</b></a>
      </li>

      <li class="nav-item">
        <a style="color: white;" class="nav-link active" href="/usuarios/logout"><b>Sair</b></a>
      </li>

      {{else}}
      
      <li class="nav-item">
        <a style="color: white;" class="nav-link active" href="/usuarios/login"><b>Login</b></a>
      </li>
      
       <li class="nav-item">
        <a style="color: white;" class="nav-link active" href="/usuarios/registro"><b>Registro</b></a>
      </li>

      {{/if}}

    </ul>
  </div>
</nav>