<div class="container postagen__container">
  <div  class="container__item">
    <h1> {{titulo}} </h1>
    <hr>
    <small>Publicação: {{data}}</small>
    <hr>
    <p style="text-align: justify;">{{conteudo}}</p> 
    <img src="/uploads/{{imageName}} " class="postagem__image">
  </div>
</div>