<div class="container postagen__container">
  <div  class="container__item">
    <h1> {{titulo}} </h1>
    <hr>
    <small>Publicação: {{data}}</small>
    <hr>
    <img src="/uploads/{{imageName}}" class="postagem__image img-fluid">
    <p style="text-align: justify;">{{conteudo}}</p> 
    
    
  </div>
</div>