<div class="card">
  <div style="background: rgb(121, 70, 204); border-radius: 0 0 1rem 1rem; color: white;" class="card-body">
    <h1> {{titulo}} </h1>
    <hr>
    <small>Data de publicação: {{data}}</small>
    <hr>
    <p style="text-align: justify;"> {{conteudo}} </p>
  </div>
</div>