@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{box-sizing: border-box;
  margin: 0;
  padding: 0;}


 li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo{
  cursor: pointer;
  margin-left: auto;
  border-radius: 3rem;
  height: 70px;
  order: 1;
}

.navbar{
  width: 100%;
  background-image: url(/assets/game2.png);  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 37px 6%;  
}


.header__container{
  text-align: right;
  height: 100%;
  position: relative;
}

nav{
  order: 3;
}

.navbar-toggler{
  background-color:rgba(255, 246, 246, 0.575);
  margin-bottom: auto;
  margin-top: auto;
  
}

.navbar-nav{
  list-style: none;
}

.navbar-nav li{
  display: inline-block;
  padding: 0px 20px;
}

.navbar-nav li a{
  transition: all 0.3s ease 0s;
}

.navbar-nav li a:hover{
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;

  margin-bottom: 30px;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
  
}

/* ========== MEDIA QUERIES (SMALÇL DEVICES) ===================*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  .logo{
    cursor: pointer;
    margin-left: auto;
    border-radius: 3rem;
    height: 70px;
    order: 1;
    margin-bottom: auto;
    margin-top: auto;
  }
}