.registro__container, .form-control{
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white); 
}

.registro{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Times New Roman', Times, serif
}

.registro__container input{
  margin-bottom: 1rem;
}