<h4 class="nome">CATEGORIAS</h4>

{{#each categorias}}

<div class="container categoria__container2">
<ul class="categoria">
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="/categorias/{{slug}}"><h5><button class="btn2">{{nome}}</h5></button></a> 
  </li>
</ul>
<hr class="hr">
</div>

{{else}}

{{/each}}