<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title class="ml-2">Game News</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/stylesheet/header.css">
    <link rel="stylesheet" href="/stylesheet/body.css">

  </head>

  <body>
    <div class="container layout__container">
      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{else}}
      {{/if}}
      {{>header}}
      {{>_msg}}     
      {{{body}}}        
      {{footer}}
    </div>
  </body>
</html>